body {
    background-color: #333;
    color: #fff;
    margin: 12px;
    font-family: sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 700px;
}

header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #3cc;
    line-height: 38px;
    margin-bottom: 20px;
    margin-top: 10px;
}

aside {
    font-size: 12px;
}

a {
    color: #f9f;
}

.title {
    font-size: 30px;
    color: #3cc;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.organizer {
    font-size: 16px;
}

.honhaishin {
    color: #3cc;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.team {
    border: solid 1px #3cc;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.team_name {
    color: #3cc;
    font-size: 25px;
    font-weight: bold;
}

.team_tag {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px 7px;
    color: #ff6;
    background-color: #3cc;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px 10px 0px 10px;
}

.member_name {
    color: #ff6;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.stream_embed {
    width: inherit;
    text-align: center;
}

.stream_enbed iframe {
    width: inherit;
}

.stream {
    text-align: center;
}

.stream_notExist {
    font-size: 12px;
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}